
body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #ffffff;
  width: 100%;
  overflow-x: hidden;
}
a{
  margin:0px;
  display: flex;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  color: #ffffff;
}
/*Logo (lewy górny) --------------------------------------*/
#Logo {
  top: 10px;
  display: flex;
  left: 20px;
  position: absolute;
  background-color: #101010fa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #000000;
  position: fixed;
  z-index: 10000;
  width: calc(100% - 40px);
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left:3.5px;
  height: 57px;
}
#Logo h1{
  margin: 10px;
}
#Logo a{
  height:50px;
  color: #ffffff;
  text-decoration: #ffffff;
}
/* Hamburger menu ------------------------------------- */
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 30px;
  right: 40px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 100000;
  margin-left: 20px; 
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: 8px;
}

.menu__btn > span::after {
  content: '';
  top: 16px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #161616;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index:20000;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #111111;
}
.hamburger-menu {
  height:0px;
}
/* wygląd i animacja 404 -------------------*/
h1 {
  color: #ffff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
header h1 {
  margin-top: 90px;
}
button {
    line-height: normal;
    margin-top: 10px;
    min-width: 600px;
    height: 150px;
    cursor: pointer;
    background-color: #252526;
    border: 5px solid #7d63ff;
    border-radius: 20px;
    transition-duration: 0.5s;
    color: #ffffff;
    font-size: 20px;
  }
button:hover {
  scale: 0.97;
      background-color: #252638;
  box-shadow: 0px 0px 15px black;
}
body::-webkit-scrollbar{
  width:15px;
}
body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #212121;
}
#center{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: hidden;
}
#container{
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.digit {
  font-size: 17rem;
  margin: 0 10px;
  transform-origin: 50% 50%;
  opacity: 0;
}
/*responsywność ------------------------*/
@media screen and (min-width: 600px) {
 scale: 0.6;
}

@media screen and (max-width: 600px) {
  #container{
    scale: 70%;
  }
  button{
    scale: 85%;
  }
  #center a{
    scale: 70%;
  }
  center h1{
    font-size:17px;
  }
}
